$fondo-body: rgb(235, 236, 238);
$fondo-footer:rgb(192, 192, 192);
$fondo-button:#dfd9d9;
$fondo-titulo:#2C2F34;
$fondo-gradiente: 90deg, rgb(189, 94, 134), #ccc;
$fondo-parrafo: black;
$height: 40px;
$margin-l:50px;
$margin-r: 50px;
$margin-t: 20px;
$margin-b: 10px;
$fondo-hover: grey;
$fondo-ta2:#dfd9d9;
$border-radius: 5px;
$titulo-color: #2C2F34;
$width-index: 1000px;
$margin-l-index:52px;
$padding-generico: 2px;
$padding-l-generico: 7px;
$padding-b-generico: 4px;
$padding-iframe:10px;
$font-weight: bold;
$marig-left-footer:9px;
$margin-b-footer:2px;
$color-form:#b4b4b4;
$color-boton:rgb(32, 32, 32);
$color-boton4: #2c282a;
$color-boton3: #d8227d;
$font-size-titulos: 25px;
$font-size-footer: 20px;